<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
  <properties>
    <title>JBundle Application Framework</title>
    <author email="don@tourgeek.com">Don Corley</author>
  </properties>
  <body>
    <section name="JBundle Application Framework">
      <p>
        JBundle is a client-server application framework written in java.<br/>
        The JBundle application framework simplifies the process building typical business applications.
        This framework includes a database framework, a client server communication framework, a MVC screen
        framework with several implementations including java swing, AJAX, etc. Web deployment of a java
        client is simple with a zero-configuration java web start deployer.
      </p>
      <p>
        The JBundle application framework simplifies the process building typical business applications.
        This framework design is based on:<br/>
        <ul>
        <li><a href="project.html">A simple unified application model (client and server code)</a><br/></li>
        <li><a href="database.html">A simple database access API</a><br/></li>
        <!-- li><a href="realtime.html">Real-time display of data</a><br/></li -->
        <li><a href="screen.html">A flexible display architecture (with several client choices)</a><br/></li>
        <!-- li><a href="database.html">Built-in security</a><br/></li -->
        </ul>
      </p>
    <subsection name="JBundle examples">
      <p>
        Take a look at these <a href="sample.html">sample applications</a>.
      </p>
      </subsection>
    <subsection name="Development example">
      <p>
        Try this quick tutorial and 
        <a href="example.html">create a sample application</a>
        or start up a <a href="quickstart.html">jbundle server</a> and try some of the sample applications on your own computer.<br/>
      </p>
      </subsection>
    </section>
  </body>
</document>

