<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
  <properties>
    <title>Welcome</title>
    <author email="don@tourgeek.com">Don Corley</author>
  </properties>
  <body>
    <section name="JBundle - Creating a sample multi-project application">
      <p>
      A jbundle application is usually segmented into logical components. The model and resources are
      typically in their own OSGi bundles. Thin and thick resources are usually separate since they are
      not used in the same applications, but they both share the same resources and models.
      </p>
      <p>
      When you create a project, you can specify different locations for the different kinds of resources.
      For example:
      </p>
      <p>
      <img src="images/multiproject/01-project.png"/>
      </p>
      <p>
      You mat create the maven project files manually, or press the <img src="/org/jbundle/res/images/buttons/Run.gif"/> 'Create maven projects' button to create
      a skeleton project file in each of the project directories and in the parent directory.
      </p>
    </section>
  </body>
</document>
