<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
  <properties>
    <title>Welcome</title>
    <author email="don@tourgeek.com">Don Corley</author>
  </properties>
  <body>
    <section name="Welcome to the JBundle Project!">
      <p>
        JBundle is a real-time client-server application framework written in java.<br/>
      </p>
    <p>
    Try out some of these sample applications.
    </p>
    <p>
        <iframe src="/webstart/applet.html?applet=org.jbundle.app.office.Main&amp;systemname=office&amp;webStartPropertiesFile=org/jbundle/res/webstart/app.properties" width="100%" height="350">
          <p>Your browser does not support iframes.</p>
        </iframe>
    </p>
      <p>
        Bring up another copy of this application in
        <a href="/webstart?mainClass=org.jbundle.app.office.Main&amp;systemname=office&amp;webStartPropertiesFile=org/jbundle/res/webstart/app.properties">Web Start</a>
        and notice that any changes are reflected in all the open windows.
      </p>
      <p>
      	JBundle runs best as a
      	<a href="/webstart/applet.html?applet=org.jbundle.app.office.Main&amp;systemname=office&amp;webStartPropertiesFile=org/jbundle/res/webstart/app.properties">full screen web applet</a>, but it can also run as a
      	<a href="/webstart?mainClass=org.jbundle.app.office.Main&amp;systemname=office&amp;webStartPropertiesFile=org/jbundle/res/webstart/app.properties">standalone application</a>,
      	an <a href="/?systemname=office">Ajax application</a>,
      	an <a href="/appxhtml?systemname=office">xhtml web page</a>,
      	or as an <a href="/apphtml?systemname=office">html web page</a>.<br/>
      	All of these views are running the exact same program.
      </p>
      <p>
        More interesting is what you don't see. You are probably behind a restrictive firewall.
        JBundle is very careful to stay within your computer's security constraints.
      </p>
    </section>
  </body>
</document>

