<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
  <properties>
    <title>Welcome</title>
    <author email="don@tourgeek.com">Don Corley</author>
  </properties>
  <body>
    <section name="JBundle display clients">
<p>
        JBundle runs best as a
        <ul>
        <li>A java web applet. Give it a try:</li>
        </ul>
    <iframe src ="/webstart/docs/applet.html?appletClass=org.jbundle.util.calendarpanel.sample.rich.CalendarTestApplet" width="100%" height="350">
      <p>Your browser does not support iframes.</p>
    </iframe>
</p>
      <p>
        JBundle has several client implementations. Try this simple contact list app implemented as a:
        <ul>
        <li><a href="/webstart/applet.html?applet=org.jbundle.app.office.Main&amp;systemname=office&amp;webStartPropertiesFile=org/jbundle/res/webstart/app.properties" target="_blank">A java applet</a></li>
        <li><a href="/webstart?mainClass=org.jbundle.app.office.Main&amp;systemname=office&amp;webStartPropertiesFile=org/jbundle/res/webstart/app.properties">A standalone java application</a></li>
        <li><a href="/?systemname=office" target="_blank">An Ajax application</a></li>
        <li><a href="/appxhtml?systemname=office" target="_blank">A xhtml web page</a></li>
        <li><a href="/apphtml?systemname=office" target="_blank">A html web page</a></li>
        <li>An Android client <font color="red">(coming soon)</font>.</li>
        <li>A JavaFX client <font color="red">(coming soon)</font>.</li>
        </ul>
        <p/>
        Give them a try! All of these views are running the exact same program.
      </p>
    </section>
  </body>
</document>
